<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Affiliate Withdraw Request Notify@-->
<!--@vars {
"var name":"Customer Nam",
"var email":"Customer Email",
"var payment_method":"Payment Method Name",
"var currency_code":"Currency Code",
"var request":"Request Number"
} @-->
You have received a request to withdraw money from affiliate account name {{var name|raw}}
<p>With Amount: {{var currency_code|raw}}{{var request|raw}} via {{var payment_method|raw}}</p>