<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

	<!-- auto register affiliate when register customer -->
	<event name="customer_save_after">
        <observer name="lof_affiliate_customer_register_success" instance="Lof\Affiliate\Observer\CustomerRegisterSuccess" />
    </event>
    <!-- <event name="controller_action_postdispatch_newsletter_manage_save">
        <observer name="lof_affiliate_customer_subcribe_newsletter" instance="Lof\Affiliate\Observer\CustomerSubcribeNewsletter" />
    </event> -->
   <event name="controller_front_send_response_before">
        <observer name="lof_affiliate_layout_load_before" instance="Lof\Affiliate\Observer\LayoutLoadBefore" />
    </event>

    <!-- <event name="sales_order_invoice_pay">
        <observer name="lof_affiliate_sales_order_invoice_pay" instance="Lof\Affiliate\Observer\OrderInvoicePayObserver" />
    </event> -->

    <event name="checkout_onepage_controller_success_action">
        <observer name="lof_affiliate_checkout_success" instance="Lof\Affiliate\Observer\CheckoutSuccess"  />
    </event>

    <!-- <event name="checkout_submit_all_after">
        <observer instance="Lof\Affiliate\Observer\Checkout\SubmitAllAfter" name="lof_affiliate_observer_checkout_submitallafter_checkout_submit_all_after"/>
    </event> -->

    <!-- <event name="checkout_cart_add_product_complete">
        <observer name="lof_affiliate_checkout_cart_add" instance="Lof\Affiliate\Observer\CheckoutCartAddComplete" />
    </event> -->

    <!-- <event name="controller_action_postdispatch_newsletter_manage_save">
        <observer name="lof_affiliate_controller_action_postdispatch_newsletter_manage_save" instance="Lof\Affiliate\Observer\PostdispatchNewsletter" />
    </event> -->

</config>
