<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="lof_affiliate_place_after" instance="Lof\Affiliate\Observer\PlaceAfter" />
    </event>

    <!-- is called first, as long as the payment can be refunded (i.e. hasn't already been refunded already). It returns with the Payment and Creditmemo objects in the event data. -->
   <!--  <event name="sales_order_payment_refund">
        <observer name="lof_affiliate_payment_refund" instance="Lof\Affiliate\Observer\PaymentRefund" />
    </event> -->

    <!-- is called almost immediately after, it only returns the Creditmemo object. (refund related by quanlity products of order)-->
    <event name="sales_order_creditmemo_refund">
        <observer name="lof_affiliate_creditmemo_refund" instance="Lof\Affiliate\Observer\CreditmemoRefund" />
    </event>
    

</config>
